.index-body, .chilli-body, .egg-body, .pierogi-body { background-color: burlywood; text-align: center; 

      }

#index-title{ color: blueviolet; }

.pic { height: auto; width: auto; max-height: 500px; max-width: 500px;}

.headings { font-weight: 700px; font-size: 50px; color: blueviolet;}

.con {color: pink; font-size: 24px; font-family:'Courier New', Courier, monospace}




